.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo-icon {
   background: linear-gradient(to right, #ff416c, #ff4b2b);
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.6rem;
  margin-right: 0.4rem;
  font-weight: bold;
}

nav a {
  margin: 0 1rem;
  color: #444;
  font-weight: 500;
}

.signup-btn {
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  color: white;
  border: none;
  padding: 0.5rem 1.3rem;
  border-radius: 999px;
  font-weight: 600;
}
